<h2><%= i18n_viewer('unlock_instructions') %></h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, i18n_viewer('email') %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit i18n_viewer('unlock_instruction') %></div>
<% end %>

<%= render "links" %>
