<p><%= i18n_viewer('hello') %> <%= @resource.email %>!</p>

<p><%= i18n_viewer(i18n_viewer('change_password_link')) %></p>

<p><%= link_to i18n_viewer('change_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= i18n_viewer('ignore_this_if_didnot_request') %></p>
<p><%= i18n_viewer('password_wonnt_change_until') %></p>
