<h1>标准框架模板</h1>
<table>
  <tr>
    <th>F1</th>
    <th>F2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sheet0s.each do |sheet0| %>
  <tr>
    <td><%= sheet0.f1 %></td>
    <td><%= sheet0.f2 %></td>
    <td><%= link_to 'Show', sheet0 %></td>
    <td><%= link_to 'Edit', edit_sheet0_path(sheet0) %></td>
    <td><%= link_to 'Destroy', sheet0, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sheet0', new_sheet0_path %>

<article>
  <style>
    .css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
  </style>
  
<% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
  <%= link_to tag.name, { :action => :tag, :id => tag.name }, :class => css_class %>
<% end %>  
</articl>
