<p id="notice"><%= notice %></p>

<p>
  <b>F1:</b>
  <%= @sheet0.f1 %>
</p>

<p>
  <b>F2:</b>
  <%= @sheet0.f2 %>
</p>


<%= link_to 'Edit', edit_sheet0_path(@sheet0) %> |
<%= link_to 'Back', sheet0s_path %>
