<aside>
  <%= render "layouts/menu_aside", {:tag_value => params['t']} %>
</aside>
<article id="ajax-content">
  <section>
    <%= I18n.t('position')%>: <%= get_page_position %>
  </section>
  <h1><%= get_page_title %></h1>
  <section>
    action1 | action2
  </section>
  <% if notice.present? || alert.present? %>
  <section>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </section>
  <% end %>
  <section id="main-content">
    <%= yield %>
  </section>
</article>

