<aside>
  <h1>aside1</h1>
  <ul>
    <li><%= link_to "nav1" "#" %></li>
    <li><%= link_to "nav2" "#" %></li>
  </ul>
  <h1>aside2</h1>
  <ul>
    <li><%= link_to "nav1" "#" %></li>
    <li><%= link_to "nav2" "#" %></li>
  </ul>
</aside>

<article>
  <section>
    position: p1-p2-p3
  </section>
  <h1>title1</h1>
  <section>
    action1 | action2
  </section>
  <section>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </section>
  <section>
    <%= yield %>
  </section>
</article>

